.App {
  color: #ffffff;
  min-height: 100vh;
  background-color: #312e2b;
  display: flex;
  position: relative;
}

.side-menu-container {
  margin: 20px 16px;
}

.button-green {
  margin-top: 40px;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  background-color: rgba(129, 182, 76, 255);
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #e9edcc;
  font-weight: 800;
  border: 0;
  box-shadow: 0 5px 0 0 rgba(69, 117, 60, 255);
}

.lobby-game-time {
  width: 100%;
  height: 60px;
  background-color: #3c3b39;
  border-radius: 5px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #e9edcc;
  border: none;
  margin-bottom: 15px;
}
.lobby-game-time span::before {
  content: "\1F1B";
  font-size: 29px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "Icons";
}
.lobby-game-time span.blitz::before {
  content: "\1F1D";
  color: #e3aa24;
}
.lobby-game-time span.rapid::before {
  content: "\1F1C";
  color: #fad541;
}
.lobby-game-time span.long::before {
  content: "\1F1B";
  color: #81b64c;
}
.lobby-time-setups-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.lobby-time-setup {
  width: 30%;
  height: 45px;
  background-color: #3c3b39;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #e9edcc;
  border: 3px solid #3c3b39;
}
.lobby-time-setup.active {
  border: 3px solid #81b64c;
}
.lobby-time-setups-row-label {
  font-size: 16px;
}

.lobby-time-setups-row-label::before {
  content: "\1F1D";
  line-height: 20px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "Icons";
  color: #e3aa24;
}
.lobby-time-setups-row-label:nth-child(3):before {
  content: "\1F1C";
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "Icons";
  color: #fad541;
}
.lobby-time-setups-row-label:nth-child(5):before {
  content: "\1F1B";
  width: 20px;
  height: 20px;
  margin-right: 5px;
  font-family: "Icons";
  color: #81b64c;
}

.lobby-game-player-color {
}
.lobby-player-colors-label {
  text-align: center;
  color: #e9edcc;
  font-size: 14px;
}
.lobby-player-colors-container {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin: 13px auto;
}
.lobby-player-color {
  position: relative;
  font-size: 40px;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #ffffff 50%, #312e2b 50%);
  font-family: "Icons";
  line-height: 40px;
  text-align: center;
  border: 3px solid #262522;
}
.lobby-player-color.white::before {
  content: "\e904";
  color: #312e2b;
  background-color: #ffffff;
}
.lobby-player-color.random::before {
  content: "\1F0E";
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
  text-shadow: -1px -1px 0 #312e2b, 1px -1px 0 #312e2b, -1px 1px 0 #312e2b,
    1px 1px 0 #312e2b;
}
.lobby-player-color.black::before {
  content: "\e904";
  height: 40px;
  width: 40px;
  color: #ffffff;
  background-color: #312e2b;
  border: none;
}

.lobby-player-color.selected {
  outline: 3px solid #81b64c;
  border-radius: 3px;
}

.puzzles-navigation {
  width: fit-content;
  display: flex;
  margin: 0 auto;
}

.puzzle-nav-btn {
  width: 45px;
  height: 45px;
  color: #969594;
  background-color: #2c2b29;
}
.puzzle-nav-btn.left {
  margin-right: 10px;
}
.puzzle-nav-btn.right {
  margin-left: 10px;
}
.puzzle-nav-btn.center {
  width: fit-content;
  padding: 0 15px;
  line-height: 45px;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
.puzzle-nav-btn span:before {
  content: "";
  display: block;
  text-align: center;
  line-height: 45px;
  width: 45px;
  font-family: "Icons";
  font-size: 26px;
  font-weight: 700;
}
.puzzle-nav-btn.inactive span:before {
  color: #4e4d4b;
}
.puzzle-nav-btn span.left:before {
  content: "\002C";
}
.puzzle-nav-btn span.right:before {
  content: "\2026";
}
